@charset "UTF-8";

<style>
h3, li { /* 태그 이름 셀렉터 */
	color : brown;
}
div > div > strong { /* 자식 셀렉터 */
	background : yellow;
}
ul strong { /* 자손 셀렉터 */
	color : dodgerblue;
}
.warning { /* class 셀렉터 */
	color : red;
}
body.main { /* class 셀렉터 */
	 background : aliceblue; 
}
#list { /* id 셀렉터 */
	background : mistyrose;
}
#list span{ /* 자손 셀렉터 */
	color : forestgreen;
}
h3:first-letter { /* 가상 클래스 셀렉터 */
	color : red;
} 
li:hover 
/* hover 글자위에 마우스 커서 갈 경우 배경색 변환  */
{ /* 가상 클래스 셀렉터 */
	background : yellowgreen;
}
</style>